t---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Conéctate al impacto positivo digital">
  <Container>
    <Sectionhead>
      <Fragment slot="title">¿Te preocupa el impacto ambiental de tu web?</Fragment>
      <Fragment slot="desc">Realiza una valoración gratuita</Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Nuestra web emite solo 0,01 Kg de CO2 por visita y requiere la plantación de un árbol al año para compensar su huella.</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
        Con nuestra metodología, podemos alinear tu empresa con los Objetivos de Desarrollo Sostenible de la ONU, convirtiendo tu web en una herramienta clave para promover un cambio positivo. ¡Envíanos tus datos para un análisis detallado y descubre cómo mejorar su sostenibilidad!
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>C. Mayor, 59, 31001 Pamplona, Navarra</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:info@regeneralia.com"
              >info@regeneralia.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:whatsapp" /><a
              href="https://wa.me/34698977236">+34 698 977 236</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
