---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Conecta con nuestros expertos">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Mejoramos el impacto ambiental de tu web</Fragment>
      <Fragment slot="desc">¡Déjanos tu información y te contactaremos antes de 48 horas. ¡Gracias por tu interés!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Nuestra web es A+, emite solo 0,053 Kg de CO2 por visita y requiere la plantación de un árbol al año (5 Kg de CO2) para compensar neutralizar su impacto.</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Por eso, en general, nos esforzamos por ir más allá de la neutralización y ofrecemos planes personalizados para regenerar las zonas forestales y marinas más vulnerables.
        </p>
       <div class="mt-5">
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:info@regeneralia.com"
              >info@regeneralia.com</a>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:whatsapp" /><a
              href="https://wa.me/34698977236">+34 698 977 236</a>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
