---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    price: "Design sprint",
    name: "Valida en una semana, con resultados tangibles",
    popular: false,
    features: [
    "Metodología diseñada para acelerar el triple impacto.",
    "Conclusiones tangibles en pocos días.",
    "Enfoque innovador para diseñar soluciones concientes.",
    "Colaboración interdisciplinaria para vertebrar el expertis.",
    "Herramientas y técnicas creativas para impulsar el cambio positivo.",
    "Guiado por expertos en sostenibilidad y diseño centrado en el planeta.",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate",
    },
  },
  {
    price: "Auditoría web",
    name: "Empieza por monitorizar tu impacto positivo",
    popular: true,
    features: [
    "Análisis de la huella de carbono de la web.",
    "Recomendaciones para mejorar la calificaicón energetica.",
    "Evaluación de la sostenibilidad de proveedores de alojamiento web.",  
    "Monitorización del impacto ambiental a lo largo del tiempo.",
    "Escoge tu propio plan de compensación de Co2.",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Afianza tu impacto positivo a largo plazo",
    price: "Desarollo web",
    popular: false,
    features: [
     "Metodología centrada en el planeta para acelerar el triple impacto.",
     "Contribución a la sostenibilidad ambiental al reducir emisiones de carbono.",
     "Optimización de la velocidad de carga para eficiencia energética.",
     "Contribuye a un futuro más sostenible y próspero.",
    ],
    button: {
      text: "Contáctanos",
      link: "/conectate/",
    },
  },
];
---

<Layout title="Servicios de descarbonización digital">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Descarbonización digital</Fragment>
      <Fragment slot="desc">
    Explora nuestros planes organizados por duración de la colaboración, desde corto plazo hasta largo plazo. Elige la velocidad de impacto positivo que deseas implementar en tu organización      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
