---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    price: "Design sprint planet-centric",
    name: "Valida en una semana, con resultados tangibles",
    popular: false,
    features: [
    "Metodología diseñada para acelerar el triple impacto.",
    "Conclusiones tangibles en pocos días.",
    "Enfoque innovador para diseñar soluciones concientes.",
    "Colaboración interdisciplinaria para vertebrar el expertis.",
    "Herramientas y técnicas creativas para impulsar el cambio positivo.",
    "Guiado por expertos en sostenibilidad y diseño centrado en el planeta.",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate",
    },
  },
  {
    price: "Auditoría web carbon-centric",
    name: "Transforma tu web en una herramienta de impacto positivo",
    popular: true,
    features: [
    "Análisis de la huella de carbono de la web.",
    "Recomendaciones para mejorar la calificaicón energetica.",
    "Optimización de la velocidad de carga para eficiencia energética.",
    "Evaluación de la sostenibilidad de proveedores de alojamiento web.",  
    "Monitorización del impacto ambiental a lo largo del tiempo."
    "Escoge tu propio plan de compensación de Co2.",],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Planes regenerativos y sostenibilidad",
    price: "A medida",
    popular: true,
    features: [
     "Pide información acerca de nuestros créditos de compensación de carbono enfocados en la reforestación. Disponemos además de créditos regenerativos que combinan la reforestación activa de biohábitats con diferentes iniciativas de recuperación de entornos marinos. Antes de compensar, se tiene que tener un diagnóstico de las emisiones.",

    ],
    button: {
      text: "Contáctanos",
      link: "/conectate/",
    },
  },
];
---

<Layout title="Sinergias">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sinergias de crecimiento</Fragment>
      <Fragment slot="desc">
    Explora nuestros planes organizados por duración de la colaboración, desde corto plazo hasta largo plazo. Elige la velocidad de impacto positivo que deseas implementar en tu organización      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
