---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    price: "650 €",
    name: "Servicio auditoría web integral",
    popular: true,
    features: [
    "Listado priorizado de mejoras a implementar por áreas",
    "Certificado de calificación energética sostenible en la web",
    "Consejos sostenibildiad digital aplicados a tu negocio",
    "Personaliza tu plan de compensación de CO2", 
    ],
    button: {
      text: "Saber más",
      link: "/hablemos-del-triple-impacto",
    },
  },  
{
    price: "275 €",
    name: "Subscripción mensual: Mantenimiento web",
    popular: false,
    features: [
    "Optimización en los motores de busqueda",
    "Manten tu Wordpress actualziado y seguro",
    "Evaluación de la sostenibilidad de proveedores de alojamiento web",  
    "Plan basico de compensación de Co2",
    ],
    button: {
      text: "Suscríbete hoy",
      link: "/hablemos-del-triple-impacto",
    },
  },
  {
    price: "550 €",
    name: "Subscripción semanal: Sprint Diseño UX/UI",
    popular: false,
    features: [
    "Avergiua que inquietudes tienen tus usuarios",
    "Incrementa la notoriedad de tu marca",
    "Optimización del recorrido del usuario",  
    "Icremento de la conversión",
    ],
    button: {
      text: "Suscríbete ahora",
      link: "/hablemos-del-triple-impacto",
    },
  },
  {
    name: "Subscripción semanal: Sprint desarollo web",
    price: "A medida",
    popular: false,
    features: [
     "Proveedores de hosting sostenible",
     "Diseño a medida según las necesidades",
     "Puntuación excelente en los buscadores",
     "Sistemas de seguridad robustos", 
     "Planes a medida con compensación de CO2",
    ],
    button: {
      text: "Hablemos",
      link: "/hablemos-del-triple-impacto",
    },
  },
];
---

<Layout title="Servicios de descarbonización digital">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Descarbonización digital</Fragment>
      <Fragment slot="desc">
    Explora nuestra gama de planes de colaboración diseñados para impulsar el impacto positivo en tu organización.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-4 gap-2 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
