---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    price: "Gratis",
    name: "Diagnostico web",
    popular: false,
    features: [
    "Atención personalizada",
    "Descubre qué nota te asigna Google",
    "Identificamos en qué puedes mejorar",
    "Consumo energético del código fuente",
    "Comprobación de alojamiento web verde",  
    ],
    button: {
      text: "Reservar",
      link: "https://doodle.com/bp/regeneralia/diagnostico-web",
    },
  },  
{
    price: "650 €",
    name: "Auditoria web integral",
    popular: false,
    features: [
    "Listado priorizado de mejoras a implementar por áreas",
    "Certificado de calificación energética sostenible en la web",
    "Consejos sostenibildiad digital aplicados a tu negocio",  
    "Personaliza tu plan de compensación de CO2",
    ],
    button: {
      text: "Saber más",
      link: "/hablemos-del-triple-impacto",
    },
  },
  {
    price: "275 €",
    name: "Mantenimiento web WP",
    popular: true,
    features: [
    "Optimización en los motores de busqueda",
    "Refuerzo seguridad",
    "Evaluación de la sostenibilidad de proveedores de alojamiento web",  
    "Monitorización del impacto ambiental a lo largo del tiempo",
    "Plan basico de compensación de Co2",
    ],
    button: {
      text: "Comenzar",
      link: "/hablemos-del-triple-impacto",
    },
  },
  {
    name: "Impacto positivo a largo plazo",
    price: "Desarollo web",
    popular: false,
    features: [
     "Diseño a medida según las necesidades",
     "Puntuación excelente en los buscadores",
     "Sistemas de seguridad robustos", 
     "Planes a medida con compensación de CO2",
    ],
    button: {
      text: "Hablemos",
      link: "/hablemos-del-triple-impacto",
    },
  },
];
---

<Layout title="Servicios de descarbonización digital">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Descarbonización digital</Fragment>
      <Fragment slot="desc">
    Explora nuestros planes organizados por duración de la colaboración, desde corto plazo hasta largo plazo. Elige la velocidad de impacto positivo que deseas implementar en tu organización      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-4 gap-8 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
