---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Medición y mejora digital",
    price: "des de 389 €",
    popular: false,
    features: [
      "Análisis detallado del rendimiento web",
    "Optimización de velocidad y accesibilidad",
    "Experiencia de usuario mejorada",
    "Informe detallado de los diferentes niveles de impacto",
    "Código optimizado para SEO",
"Propuestas de mejora de cibesiguridad",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Optimización y Mejora del Diseño",
    price: "des de 599 €",
    popular: false,
    features: [
    "Diseño web personalizado y atractivo",
    "Optimización de la experiencia del usuario",
    "Mejora de la usabilidad y navegación",
    "Desarrollo de prototipos y pruebas de usabilidad",
    "Diagnóstico de implementación del branding actual",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Compensación de Emisiones y Regeneración",
    price: "A medida",
    popular: true,
    features: [
   "Compensación de emisiones de carbono",
    "Planes regenerativos en función de cada caso",
    "Informe detallado de acciones ambientales",
   "producto minimo viable para validar modelos de negocio sostenibles",

    ],
    button: {
      text: "Contáctanos",
      link: "/conectate/",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sinergias de crecimiento</Fragment>
      <Fragment slot="desc">
      ¿Por donde te gustaría empezar?
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
