---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Auditoría Web Eco-Optimizada",
    price: "Desde 389 €",
    popular: false,
    features: [
    "Nuestra auditoría web exhaustiva no solo analiza el rendimiento de tu sitio, sino que también mide tu huella de carbono digital. Identificamos áreas de mejora en la velocidad, accesibilidad, experiencia del usuario y ciberseguridad. Con recomendaciones personalizadas, te ayudamos a optimizar tu web para lograr una mayor visibilidad en Google, una web más ligera, segura y con mayor tasa de conversión. ¡Haz que tu presencia online sea más sostenible y efectiva!",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Diseño y experiencia de usuario",
    price: "Desde 599 €",
    popular: false,
    features: [
    "Nuestra optimización del diseño va más allá de lo estético. Analizamos tu marca desde cero para evaluar su nivel de identificación y la interacción de los usuarios con ella. A través de pruebas UX y datos concretos, iteramos con precisión para lograr mejoras continuas en tu producto. Cada iteración es un paso adelante en la evolución de tu marca hacia una experiencia más efectiva y sostenible en línea.",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Planes regenerativos y sostenibilidad",
    price: "A medida",
    popular: true,
    features: [
     "Nuestros planes regenerativos van más allá de la compensación de emisiones de carbono. Diseñamos planes adaptados a cada caso, con un enfoque en la sostenibilidad. Ofrecemos la posibilidad de alinear los objetivos de tu empresa con los Objetivos de Desarrollo Sostenible, creando sitios web neutros en emisiones mediante la plantación de árboles. Además, colaboramos con diversas iniciativas de reforestación y recuperación de entornos marinos, trabajando en asociación con organizaciones que lideran esta causa desde hace años para maximizar el impacto positivo.",

    ],
    button: {
      text: "Contáctanos",
      link: "/conectate/",
    },
  },
];
---

<Layout title="Sinergias">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sinergias de crecimiento</Fragment>
      <Fragment slot="desc">
      ¿Por donde te gustaría empezar?
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
