---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Auditoría Web Eco-Optimizada",
    price: "Desde 389 €",
    popular: false,
    features: [
    "Realizamos una auditoría web exhaustiva que no solo evalúa el rendimiento de tu sitio, sino que también cuantifica tu huella de carbono digital. Identificamos áreas de mejora en velocidad, accesibilidad, experiencia del usuario y ciberseguridad. Con recomendaciones personalizadas, aumenta la visibilidad en Google, logra un sitio más ágil, seguro y con mayor tasa de conversión.",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Diseño y experiencia de usuario",
    price: "Desde 599 €",
    popular: false,
    features: [
    "Conoce mejor a tus usuarios, entiende sus comportamientos. Ayudamos a tu equipo a ir un paso más allá. A través de pruebas de experiencia de usuario (UX) y datos concretos, para lograr mejoras continuas en tu producto. Cada iteración es un avance en la evolución de tu marca hacia una experiencia más efectiva y sostenible en línea.",
    ],
    button: {
      text: "Comenzar",
      link: "/conectate/",
    },
  },
  {
    name: "Planes regenerativos y sostenibilidad",
    price: "A medida",
    popular: true,
    features: [
     "Pide información acerca de nuestros créditos de compensación de carbono enfocados en la reforestación. Disponemos además de créditos regenerativos que combinan la reforestación activa de biohábitats con diferentes iniciativas de recuperación de entornos marinos. Es importante destacar que antes de compensar, se tiene que tener un diagnóstico de las emisiones que se desean compensar.",

    ],
    button: {
      text: "Contáctanos",
      link: "/conectate/",
    },
  },
];
---

<Layout title="Sinergias">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sinergias de crecimiento</Fragment>
      <Fragment slot="desc">
      ¿Por donde te gustaría empezar?
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
