---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    price: "Gratis",
    name: "Diagnostico web",
    popular: false,
    features: [
    "Atención personalizada.",
    "Conoce el scoring de Google.",
    "Que aspectos de tu web tienen más margen de mejora.",
    "El consumo energetico del codigo fuente.",
    "Comprobación alojamiento web verde.",  
    ],
    button: {
      text: "Reservar",
      link: "https://doodle.com/bp/regeneralia/diagnostico-web",
    },
  },  
{
    price: "650 €",
    name: "Auditoria web integral",
    popular: false,
    features: [
    "Listado priorizado de mejoras a implementar por areas.",
    "Análisis de la huella de carbono de la web.",
    "Evaluación de la sostenibilidad de proveedores de alojamiento web.",  
    "Escoge tu propio plan de compensación de Co2.",
    ],
    button: {
      text: "Comenzar",
      link: "/hablemos-del-triple-impacto",
    },
  },
  {
    price: "275 €",
    name: "Mantenimiento web WP",
    popular: true,
    features: [
    "Optimización en los motores de busqueda.",
    "Refuerzo seguridad.",
    "Evaluación de la sostenibilidad de proveedores de alojamiento web.",  
    "Monitorización del impacto ambiental a lo largo del tiempo.",
    "Plan basico de compensación de Co2.",
    ],
    button: {
      text: "Comenzar",
      link: "/hablemos-del-triple-impacto",
    },
  },
  {
    name: "Afianza tu impacto positivo a largo plazo",
    price: "Desarollo web",
    popular: false,
    features: [
     "Metodología centrada en el planeta para acelerar el triple impacto.",
     "Contribución a la sostenibilidad ambiental al reducir emisiones de carbono.",
     "Optimización de la velocidad de carga para eficiencia energética.",
     "Contribuye a un futuro más sostenible y próspero.",
    ],
    button: {
      text: "Hablemos",
      link: "/hablemos-del-triple-impacto",
    },
  },
];
---

<Layout title="Servicios de descarbonización digital">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Descarbonización digital</Fragment>
      <Fragment slot="desc">
    Explora nuestros planes organizados por duración de la colaboración, desde corto plazo hasta largo plazo. Elige la velocidad de impacto positivo que deseas implementar en tu organización      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
