---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Soluciones a medida",
    description:
      "Nuestros expertos trabajarán contigo para diseñar e implementar una estrategia digital a tu medida.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Mejora de la experiencia de usuario",
    description:
      "Sabemos que una excelente experiencia de usuario es clave para el éxito de tu presencia digital.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Impulsa tu alcance digital",
    description:
      Optimizamos tu contenido y estrategia de SEO para mejorar tu posición en los resultados de búsqueda.",
    icon: "bx:bxs-data",
  },
  {
    title: "Eficiencia y accesibilidad",
    description:
      "Mejoramos la velocidad y eficiencia de tu sitio web con prácticas tecnológicas que ahorran recursos.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Confianza y seguridad",
    description:
      "Aplicamos prácticas y tecnologías de seguridad líderes para proteger tu información y blindar tu negocio.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Compromiso con la regeneración",
    description:
      "Fomentamos un futuro regenerativo donde lo digital impulsa a restaurar los ecosistemas del mundo.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Less CO2 on the Internet, More biocapacity
  </h2>
  <p class="text-lg mt-4 text-slate-600">
Con nuestras subscripciones mensuales, medimos, optimizamos y compensamos las emisiones derivadas de tus actividades digitales. Escoge como alinear los valores de tu empresa con la sostenibilidad 3.0, la nueva forma de entender los productos digitales que ya es una realidad.</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
