---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Responsabilidad Social Digital (RSD)",
    description:
      "Alinea los objetivos de RSD de tu organización con la imagen que proyectas en internet.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Mejora del Rendimiento Web",
    description:
      "Mejora significativamente el rendimiento de tu sitio web.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Optimización de Contenido",
    description:
      "Optimiza el contenido y los recursos para mejorar tu posicionamiento en línea.",
    icon: "bx:bxs-data",
  },
  {
    title: "Seguridad Reforzada",
    description:
      "Refuerza la seguridad de tu proyecto digital.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Programa de Regeneración",
    description:
      "Considera ir más allá de la compensación de carbono y colabora con nuestros partners en nuestro programa de regeneración.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Colaboración Comunitaria",
    description:
      "Fomenta la colaboración y participación de la comunidad en tus iniciativas de sostenibilidad.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Less CO2 on the Internet, More biocapacity
  </h2>
  <p class="text-lg mt-4 text-slate-600">
Descubre cómo el diseño planet-centric transforma tu negocio. Únete a nuestra red digital de acción climática para optimizar procesos y reducir costos. En un momento crucial donde la degradación planetaria nos desafía, trabajemos juntos para mejorar nuestro entorno más cercano y restaurar la biodiversidad global, tanto en hábitats marinos como terrestres. ¡Sé parte del cambio y juntos creemos impactos positivos aún más significativos!</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
