---
import { Picture } from "astro:assets";
import { Picture } from "astro:assets";
import regeneraliaBadge from "assets/regeneralia-web-carbon-score.png";
import greenBadge from "assets/regeneralia-green-hosting.png";
---

<footer class="py-14 bg-emerald-950 border-t border-white" style="margin-top: 8rem;">
   <div class="mx-auto w-full max-w-screen-xl px-5">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 md:gap-10">
         <div>
            <h2 class="mb-4 text-xl font-semibold text-green-100 hover:green-400"><a href="/index">
                  Regeneralia</a></h2>
         </div>
         <div>
            <ul class="leading-10">
               <li> <a href="/index" class="text-sm font-light text-green-100 hover:green-400">
                  Sostenibilidad digita
                  </a> 
               </li>
               <li> <a href="/servicios" class="text-sm font-light text-green-100 hover:green-400">
                  Servicios
                  </a> 
               </li>
               <li> <a href="/conectate" class="text-sm font-light text-green-100 hover:green-400">
                  Conectate
                  </a> 
               </li>
            </ul>
         </div>
         <div>
           <ul class="leading-10">
               <li> <a href="https://www.linkedin.com/in/arielconde/" class="text-sm font-light text-green-100 hover:green-400">
                  LinkedIn
                  </a> 
               </li>
               <li> <a href="https://wa.me/34698977236" class="text-sm font-light text-green-100 hover:green-400">
                  WhatsApp
                  </a> 
               </li>
            </ul> 
         </div>
         <div>
            <ul class="leading-10">
               <li> <a href="/politica-de-privacidad" class="text-sm font-light text-green-100 hover:green-400">
                  Politica de privacidad
                  </a> 
               </li>
               <li> <a href="/aviso-legal" class="text-sm font-light text-green-100 hover:green-400">
                  Aviso legal
                  </a> 
               </li>
                <li> <a href="/politica-de-cookies" class="text-sm font-light text-green-100 hover:green-400">
                  Politica de cookies
                  </a> 
               </li>
            </ul>
         </div>
      </div>
       <div class="grid grid-cols-1 sm:grid-cols-2 md:gap-10">
         <div>
            <a href="/conectate" target="_blank" rel="noopener">  
<Picture
      src={regeneraliaBadge}
      alt="En esta acreditacíón Regeneralia certifica una huella de carbono digital A+"
      widths={[165, 185, 200]}
      sizes="(max-width: 200px) 10vw, 192px"
      loading="eager"
      format="avif"
    /> </a>
         </div>
         <div>
            <ul class="leading-10">
               <li> <a href="https://www.thegreenwebfoundation.org/" target="_blank" rel="noopener">  
<Picture
      src={greenBadge}
      alt="Acreditación de que esta web está alojada en un hosting alimentado con energías renovables"
      widths={[165, 185, 200]}
      sizes="(max-width: 200px) 10vw, 192px"
      loading="eager"
      format="avif"
    /> </a>
               </li>
            </ul>
         </div>
         </div>
     <div class="mt-16 flex flex-col gap-2 border-t border-white border-opacity-20 py-10 text-center md:flex-row md:justify-between md:text-start">
<p class="font-light text-white opacity-75">
            Copyright ©️ 2024 Regneralia. All rights reserved.
         </p>
         <p class="font-light text-white opacity-75">
            Made with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">
            Astro
            </a> 
         </p>
      </div>
   </div>
   </div>
</footer>
