<footer class="py-14 bg-neutral-50 border-t border-green-600" style="margin-top: 3rem;">
   <div class="max-w-screen-xl mx-auto px-5">
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
         <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
            <a href="/" class="text-lg flex items-center"><span class="font-bold text-green-950">Regeneralia</span>
            <div class="flex gap-3 mt-4 items-center">
               <a href="https://linkedin.com/in/arielconde" target="_blank" rel="noopener noreferrer" class="bg-green-50 hover:bg-teal-200 rounded w-6 h-6 inline-flex items-center justify-center text-green-950">
                  <svg width="1em" height="1em" viewBox="0 0 24 24" class="w-4 h-4" data-icon="bx:bxl-linkedin-square">
                     <symbol id="ai:bx:bxl-linkedin-square">
                        <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096a1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277c-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387c2.704 0 3.203 1.778 3.203 4.092v4.71z" fill="currentColor"></path>
                     </symbol>
                     <use xlink:href="#ai:bx:bxl-linkedin-square"></use>
                  </svg>
                  <span class="sr-only">Linkedin</span>
               </a>
            </div>
         </div>
         <div>
            <div class="flex flex-col mt-3"> <a href="/index" class="font-medium text-sm text-green-800 hover:text-teal-200">Sostenibilidad Digital</a></div>
         </div>
         <div>
            <div class="flex flex-col mt-3"> <a href="/servicios" class="font-medium text-sm text-green-800 hover:text-teal-200">Servicios</a></div>
         </div>
         <div>
            <div class="flex flex-col mt-3"> <a href="/conectate" class="font-medium text-sm text-green-800 hover:text-teal-200"> Conectate </a></div>
         </div>
      </div>
   </div>
   <div class="mt-14 pt-8 px-5 border-t border-neutral-200">
      <div class="max-w-screen-xl mx-auto px-5">
         <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
            Copyright © 2024 Regeneralia. Todos los derechos reservados.
         </p>
         <p class="text-center text-xs text-slate-600 mt-2"> <a href="/politica-de-privacidad" class="hover:text-teal-500">Politica de privacidad</a> | <a href="/aviso-legal" class="hover:text-teal-500">Aviso legal</a> | <a href="/politica-de-cookies" class="hover:text-teal-500">Politica de cookies</a>
         </p>
      </div>
   </div>
</footer>
