---
import { Picture } from "astro:assets";
import greenBadge from "assets/regeneralia-green-hosting.png";
---

<footer class="py-14 bg-neutral-50 border-t border-green-700" style="margin-top: 3rem;">
   <div class="max-w-screen-xl mx-auto px-5">
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
         <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
            <a href="/" class="text-lg flex items-center"><span class="font-bold text-green-950">Regeneralia</span></a>
            <div class="flex gap-3 mt-4 items-center">
               <a href="https://linkedin.com/in/arielconde" target="_blank" rel="noopener noreferrer" class="bg-green-50 hover:bg-teal-200 rounded w-6 h-6 inline-flex items-center justify-center text-green-950">
                  <!-- LinkedIn icon code -->
               </a>
               <a href="https://api.whatsapp.com/send/?phone=34698977236&text&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer" class="bg-green-50 hover:bg-teal-200 rounded w-6 h-6 inline-flex items-center justify-center text-green-950">
                  <!-- WhatsApp icon code -->
               </a>
            </div>
         </div>
         <div>
            <div class="flex flex-col mt-3"> <a href="/index" class="font-medium text-sm text-green-800 hover:text-teal-200">Sostenibilidad Digital</a></div>
            <div class="flex flex-col mt-3"> <a href="/servicios" class="font-medium text-sm text-green-800 hover:text-teal-200">Servicios</a></div>
            <div class="flex flex-col mt-3"> <a href="/conectate" class="font-medium text-sm text-green-800 hover:text-teal-200">Conectate</a></div>
         </div>
      </div>
   </div>
   <div class="mt-14 pt-8 px-5 border-t border-green-300">
      <a href="https://www.thegreenwebfoundation.org/" target="_blank" rel="noopener">
         <!-- Green hosting badge code -->
      </a>
   </div>
   <div class="mt-14 pt-8 px-5 border-t border-neutral-200">
      <div class="max-w-screen-xl mx-auto px-5">
         <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
            Copyright © 2024 Regeneralia. Todos los derechos reservados.
         </p>
         <p class="text-center text-xs text-slate-600 mt-2">
            <a href="/politica-de-privacidad" class="hover:text-teal-500">Politica de privacidad</a> | 
            <a href="/aviso-legal" class="hover:text-teal-500">Aviso legal</a> | 
            <a href="/politica-de-cookies" class="hover:text-teal-500">Politica de cookies</a>
         </p>
      </div>
   </div>
</footer>
