<footer class="py-14 bg-teal-50 border-t border-emerald-200">
    <div class="max-w-screen-xl mx-auto px-5">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
                <a href="/" class="text-lg flex items-center">
                    <span class="font-bold text-emerald-600">Regeneralia</span>
                </a>
                <p class="mt-4 text-sm text-slate-700 max-w-xs">
                    Astroship Pro is a premium astro website template made for saas & startups. Built with Astro and Tailwind CSS.
                </p>
                <div class="flex gap-3 mt-4 items-center">
                    <a href="https://linkedin.com/in/arielconde/" target="_blank" rel="noopener noreferrer" class="bg-teal-200 hover:bg-teal-300 rounded w-6 h-6 inline-flex items-center justify-center text-teal-500">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" class="w-4 h-4" data-icon="bx:bxl-linkedin-square">
                            <!-- Contenido del icono de LinkedIn -->
                        </svg>
                        <span class="sr-only">Linkedin</span>
                    </a>
                </div>
            </div>
            <div>
                <!-- Contenido de la sección Company -->
            </div>
            <div>
                <!-- Contenido de la sección Product -->
            </div>
            <div>
                <!-- Contenido de la sección Resources -->
            </div>
        </div>
    </div>
    <div class="mt-14 pt-8 px-5 border-t border-slate-200">
        <div class="max-w-screen-xl mx-auto px-5">
            <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
                Copyright © 2024 Regeneralia. Todos los derechos reservados.
            </p>
            <p class="text-center text-xs text-emerald-700 mt-2">
                <a href="/politica-de-privacidad" class="hover:text-teal-500">Politica-de-privacidad/</a>
                <a href="/aviso-legal" class="hover:text-teal-500">Aviso legal</a>
                <a href="/politica-de-cookies" class="hover:text-teal-500">Politica de cookies</a>
            </p>
        </div>
    </div>
</footer>
