---
import { Picture } from "astro:assets";
import heroImage from "assets/regenerlia-transformacion-sostenible-pablostanley-2024-may04.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Ilustraci贸n de @pablostanley representando la transformaci贸n sostenible de productos digitales en Regenerlia"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
  Conectamos tu organizaci贸n con el planeta
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
    En el mundo digital actual, cada clic es crucial. Regeneralia surge con pasi贸n para combatir el cambio clim谩tico en el sector digital. Plantamos 谩rboles para restaurar los d茅ficits de biodiversidad. nete y marca la diferencia ahora.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://www.linkedin.com/shareArticle?url=regeneralia.com&title= Regeneralia: 隆Cada clic cuenta! nete a la lucha contra el cambio clim谩tico. "
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name='conversation'/>

         Compartir en LinkedIn
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/impacto/"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="icon-park-twotone:seedling" />
         S茅 parte del cambio sostenible
      </Link>
    </div>
  </div>
</main>
